# To convert data into table

In [1]:
from texttable import Texttable

In [2]:
t = Texttable()

In [3]:
 t.add_rows([['Fruit', 'Price/Kg'], ['Apple', 25], ['Banana', 20],['oranges','50']])

In [4]:
print(t.draw())

+---------+----------+
|  Fruit  | Price/Kg |
+=========+==========+
| Apple   | 25       |
+---------+----------+
| Banana  | 20       |
+---------+----------+
| oranges | 50       |
+---------+----------+